*:not(i) {
  font-family: Nunito, 'Helvetica Neue', sans-serif !important;
}

/* popup */
html {
  height: fit-content;
}

html:has(#popup), #popup {
  height: fit-content;
}

body > :last-child {
  margin-bottom: 3rem;
}

#popup .input-container, .collection-container {
  display: flex;
  align-items: center;
  padding: .2em .4em;
  gap: .4em;
}

#popup .input-container label {
  white-space: nowrap;
}

#popup p {
  margin: 0;
}

#popup h2 {
  margin-bottom: .5rem;
  font-size: .9rem;
}

#popup .btn-container {
  display: flex;
  gap: 1rem;
}

#popup .btn-container button {
  flex-grow: 1;
}

#popup small {
  display: block;
  text-align: center;
}

#popup button {
  border: none;
  background-color: lightgrey;
  border-radius: 8px;
  padding: .5rem 1rem;
  cursor:pointer;
  color: rgb(60,60,60);
  font-weight: 600;
}

#popup button#ticketsIndex:hover {
  background-color: lightblue;
}

#popup button#clearTickets:hover {
  background-color: #d77070;
}

#popup button#getTickets:hover {
  background-color: darkkhaki;
}

#popup button#getTickets[disabled] {
  filter: grayscale(1);
  cursor: progress;
}

#popup .progress-container {
  position: relative;
  height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  background-color: #ebebeb;
  border-radius: 4px;
}

#popup .progress-container:has(#progress:not([data-progress])) {
  display: none;
}

#popup #progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: orange;
  border-radius: 4px;
  transition: 1s;
}

#popup #progress-bar.completed {
  background-color: darkkhaki;
}

#popup #progress::after {
  content: attr(data-progress);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* tickets page */
h1 {
  padding: 2.5rem 0 1rem !important;
  border-bottom: solid;
}

h2 {
  margin-bottom: 1rem !important;
  padding-bottom: 8px;
  border-bottom: solid lightgray;
}

summary:has(h2,h3) {
  border-bottom: solid lightgray;
}
summary h2 {
  border-bottom: none;
}

li {
  margin-bottom: .5rem;
}

details details {
  margin: 0 1rem;
}

details details[open] summary {
  margin: 1rem 0;
}

.popover {
  position: relative !important;
  height: fit-content;
}

.popover-header .ticket-popover-header .ticket-popover-img,
.favorite-ta {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.favorite-ta {
  display: block;
  margin: 8px auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 0;
  flex-wrap: wrap;
}

#longest {
  display: flex;
  justify-content: center;
}

#favorite, #created {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#tickets-dashboard .ticket-popover-time {
  font-weight: 700;
}

#tickets-dashboard details summary h2, 
#tickets-dashboard details summary h3 {
  display: inline;
}

#tickets-dashboard details summary {
  color: black;
  padding: 1rem;
}

#tickets-dashboard details details[open] {
  background-color: white;
  border-radius: 1rem;
}

#tickets-dashboard details summary::marker {
  font-size: 1.5em;
}

#tickets-dashboard #tickets-container details > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  min-height: unset !important;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  width: fit-content;
}

#tickets-dashboard .ticket-popover-body h4 {
  margin-bottom: .5rem !important;
}