:root {
  --black: rgb(90,60,60);
  --checkbox-height: 20px;
}

*:not(i):not(.material-symbols-outlined) {
  font-family: Nunito, 'Helvetica Neue', sans-serif !important;
}

.material-symbols-outlined {
  font-size: .8em !important;
}

/* popup */
html {
  height: fit-content;
}

html:has(#popup), #popup {
  height: fit-content;
}

body:not(#popup) > :last-child {
  margin-bottom: 3rem;
}

h1,
h2,
h3,
label:not(.popover) {
  color: var(--black) !important;
}

label:not(.popover) {
  font-weight: 700;
  padding: 8px;
  border-radius: 200px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
}

label:not(.popover):has(:checked) {
  background-color: darkkhaki;
  box-shadow: none;
}

/* Customize the label (the container) */
.input-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: calc(var(--checkbox-height) * 1.5);
  height: var(--checkbox-height);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.input-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.input-container input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.input-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.input-container .checkmark:after {
  left: 50%;
  top: 50%;
  width: 20%;
  height: 40%;
  border: solid darkcyan;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translate(-100%, -20%);
}

#popup .popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: lightgray;
  border-radius: 8px;
  width: max-content;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--black);
}

#popup .popup-header:has(h1:empty) {
  display: none;
}

#popup #optionsForm {
  display: grid;
  gap: 8px;
}

/* #popup #optionsForm input[type="checkbox"],
#popup #optionsForm .input-container:hover input[type="checkbox"] {
  accent-color: darkkhaki;
} */


/* #popup .input-container,  */
#popup .collection-container {
  display: flex;
  align-items: center;
  padding: .2em .4em;
  gap: .4em;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
  border-radius: 40px;
}

/* #popup .input-container {
  white-space: nowrap;
  cursor: pointer;
}

#popup .input-container:has(input:checked) {
  background-color: darkkhaki;
  box-shadow: none;
} */

#popup #onDuty {
  display: flex;
  align-items: center;
  gap: 4px;
  height: fit-content;
}

#popup #onDuty > .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #d77070;
}

#popup #onDuty::after {
  content: 'Off Duty';
  font-weight: 700;
  color: dimgray;
  display: inline-block;
}

#popup #onDuty.on::after {
  content: 'On Duty';
}

#popup #onDuty.on > div {
  background-color: darkkhaki;
}

#popup p {
  margin: 0;
}

#popup h2 {
  margin-bottom: .5rem;
  font-size: .9rem;
}

#popup .btn-container {
  display: flex;
  gap: 1rem;
}

#popup .btn-container button {
  flex-grow: 1;
}

#popup small {
  margin-top: .5rem;
  display: block;
  text-align: center;
}

#popup button,
#popup a#statistics {
  text-decoration: none;
  border: none;
  background-color: lightgrey;
  border-radius: 8px;
  padding: .5rem 1rem;
  cursor:pointer;
  color: var(--black);
  font-weight: 600;
}

#popup button#ticketsIndex:hover {
  background-color: lightblue;
}

#popup button#clearTickets:hover {
  background-color: #d77070;
}

#popup button#getTickets:hover {
  background-color: darkkhaki;
}

#popup button#getTickets[disabled] {
  filter: grayscale(1);
  cursor: progress;
}

#popup .progress-container {
  position: relative;
  height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  background-color: #ebebeb;
  border-radius: 4px;
}

#popup .progress-container:has(#progress:not([data-progress])) {
  display: none;
}

#popup #progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: orange;
  border-radius: 4px;
  transition: 1s;
}

#popup #progress-bar.completed {
  background-color: darkkhaki;
}

#popup #progress::after {
  content: attr(data-progress);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* tickets page */
#tickets-dashboard h1 {
  padding: 2.5rem 0 1rem !important;
  border-bottom: solid;
}

h2, h3 {
  padding-bottom: 8px;
  border-bottom: solid lightgray;
}

summary h2 {
  border-bottom: none;
}

li {
  margin-bottom: .5rem;
}

details details {
  margin: 0 1rem;
}

.popover {
  position: relative !important;
  height: fit-content;
}

.popover input.bookmarked {
  display: none;
}

.popover:has(:checked) {
  box-shadow: 0 0 0 2px #d77070;
}

.popover-header .ticket-popover-header .ticket-popover-img,
.favorite-ta {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.favorite-ta {
  display: block;
  margin: 8px auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.flex-container > div:has(ul,ol, #longest, table) {
  flex-grow: 1;
  width: 280px;
  border-radius: 8px;
  box-shadow: 2px 2px 0 4px lightgray;
  overflow: hidden;
}

div:has(> #longest) {
  overflow: unset;
  width: fit-content !important;
}

#longest {
  display: flex;
  justify-content: center;
  align-items: center;
}

#longest .popover {
  margin-top: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#longest .popover .unstyled-link {
  width: max-content;
}

#longest .popover .ticket-popover-header {
  gap: 8px;
}

#favorite, #created {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#tickets-dashboard .ticket-popover-time {
  font-weight: 700;
}

#tickets-dashboard svg {
  fill: var(--black);
  margin-bottom: .2em;
}

#tickets-dashboard details summary h2, 
#tickets-dashboard details summary h3 {
  display: inline;
}

#tickets-dashboard details summary {
  color: var(--black);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
}

#tickets-dashboard details details[open] summary {
  background-color: var(--black);
  color: white;
}

#tickets-dashboard details details[open] summary h3 {
  color: white !important;
}

#tickets-dashboard details details[open] {
  background-color: white;
  border-radius: 1rem;
}

#tickets-dashboard details summary::marker {
  font-size: 1.5em;
}

#tickets-dashboard #tickets-container details > div,
#bookmarked-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  min-height: unset !important;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  width: fit-content;
}

#tickets-container h3 {
  border-bottom: none;
}

#tickets-dashboard .ticket-popover-body h4 {
  margin-bottom: .5rem !important;
}

#tickets-dashboard h2,
#tickets-dashboard h3 {
  padding: .75rem 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: .3em;
}

#tickets-dashboard h2 {
  font-size: 1.3rem;
}

#tickets-dashboard h3 {
  font-size: 1.2rem;
}

#tickets-dashboard ul,
#tickets-dashboard ol {
  font-size: .9rem;
}

#tickets-dashboard table {
  width: 100%;
}

#tickets-dashboard table tr:nth-child(even) {
  background-color: white;
}

#tickets-dashboard td {
  padding: .5em;
}

#tickets-dashboard td:first-child {
  padding-left: 1em;
  height: 2em;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show before truncation */
  -webkit-box-orient: vertical;
}

#tickets-dashboard td:last-child {
  padding-left: 1em;
  padding-right: 1em;
  text-align: end;
  white-space: nowrap;
  border-left: solid lightgray;
  width: 10%;
}

@media (max-width: 530px) {
  #longest {
    flex-wrap: wrap;
  }
}

.container > h2 {
  background: white;
  border-bottom: none;
}

.container > h2,
#tickets-dashboard .container > details {
  margin-bottom: 1rem !important;
  border-radius: 8px;
  box-shadow: 2px 2px 0 4px lightgray;
}